<%- include('partials/header') %>

  <!-- Inicio NavBar -->
  <div class="w-full bg-black">
    <nav class="max-w-[1350px] h-[90px] mx-auto px-4 flex justify-between items-center text-white">
      <a href="/" class="flex hover:cursor-pointer">
        <p class="text-2xl">alta<span class="text-3xl text-red-500">GAMA</span>cars</p>
      </a>    
      <p class="text-2xl font-bold text-white">Bienvenido/a <%= user.nombre  %></p>      
      <ul class="flex items-center mr-2 space-x-4">
        <li class="w-[45px] h-[45px] relative group">
          <img class="border-2 border-red-500 hover:border-white duration-300 z-20 w-full h-full rounded-full object-cover hover:cursor-pointer" 
              src="<%= user.foto %>" alt="User Image">
            
          <ul class="bg-black text-white absolute right-0  w-[120px] rounded-lg  border-b border-l border-r border-white overflow-hidden  hidden group-hover:block duration-300">
            <li class="py-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500">
              <a href="/">Inicio</a>
            </li>
            <li class="py-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500">
              <a href="/api/carrito">Mi Carrito</a>
            </li>
            <li class="pb-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500">              
              <a href="/api/compras/myCompras">Mis Compras</a>
            </li>
            <% if (user.isAdmin === 'S') { %>
              <li class="pb-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500 flex items-center space-x-2">                
                <a href="/api/admin" class="w-full flex items-center space-x-3">
                  <img class="h-[30px] object-cover" src="/assets/aaa.png" alt="Settings Icon">
                  <p>Admin</p>
                </a>
              </li>
            <% } %>
            <li class="pb-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500">
              <a href="/logout">Logout</a>
            </li>            
          </ul>  
        </li>               
      </ul>        
    </nav>
  </div>
  <!-- Fin NavBar -->

  <div class="max-w-[1300px] mx-auto mt-8 px-4">
    <div class="w-full text-center">
      <p class="text-3xl font-bold uppercase pb-2 text-white">Mis Compras</p>      
      <div class="w-full h-[2px] bg-red-200"></div>
      <% if (compras.length === 0) { %>
       <div class="w-full mt-6 flex flex-col space-y-4">
          <p class="text-4xl uppercase text-white font-bold">No ha realizado compras</p>
          <a href="/" class="text-xl mx-auto w-[20%] bg-white text-black hover:bg-black hover:text-white hover:shadow-xl duration-300 rounded-lg py-2 hover:cursor-pointer">Vehículos</a>
       </div>
      <% } %>
    </div>

    <div class="w-full py-2 flex">      
      <!-- Lista de Compras -->
      <div id="compra_list" class="w-[55%]  px-4 py-3">
        <% for( let i = 0; i < compras.length; i++ ) { %>
          <div class="w-full bg-white/90 p-4 my-2 flex items-center justify-between rounded-lg font-bold">
            <% let fecha = new Date(compras[i].createdAt).toLocaleDateString() %>
            <% let subtotal = compras[i].cart.subTotal %>
            <p class="compra_id hidden"><%= compras[i].cart._id %></p>
            <p>Fecha: <span class="text-lg text-red-500"><%= fecha %></span></p>
            <div class="flex items-center space-x-4">
              <p>Monto ($): <span class="text-lg text-red-500"><%= subtotal %></span></p>
              <div class="btn_ver_compra">
                <img class="hover:bg-gray-300 hover:cursor-pointer rounded-full w-[30px] h-[30px]" src="/assets/eye.png" alt="Ver Detalle">                
              </div>
            </div>
          </div>
        <% } %> 
      </div>

      <!-- Detalle de la Compra -->
      <div id="compra_detail" class="w-[45%] h-[700px] p-3"></div>

    </div>
  </div>
  
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>      
  <script src="/js/compras.js"></script>   
</body>
</html>
